<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">

      <div class="navbar-header">
     <!-- <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">-->
        <a class="navbar-brand" >
          <!-- <span class="glyphicon glyphicon-home"></span>-->
          <img src="assets/images/logof.png" width="200" height="50"/>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
          <li class="active"><a ng-href="#/assistantPharmacist">Assistent Pharmacist</a></li>
          <li><a ng-href="#">Chief Pharmacist</a></li>
          <li><a ng-href="#">Doctor</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right acme-navbar-text">
          <li>Logged in as {{ vm.relativeDate }}.</li>
        </ul>
      </div>
    </div>
  </nav>
