<div >
  <nav style="float: left;width: 200px;height: 1000px;background-color: #00b3ee;font-size: large;font-style: oblique">
    <ul style="list-style-type: none">
      <li style="padding-top: 10px;padding-bottom: 10px;display: inline-block;background-color: yellow;width: 150px"><a ng-href="#/chiefPharmacist/pharmacyStock">Home</a></li>
      <li style="padding-top: 10px;padding-bottom: 10px"><a ng-href="#/chiefPharmacist/addDrugs">Add Drugs</a></li>
      <li style="padding-top: 10px;padding-bottom: 10px"><a ng-href="#/chiefPharmacist/updateDrugs">Update Drugs</a></li>
      <li style="padding-top: 10px;padding-bottom: 10px"><a ng-href="#/chiefPharmacist/addNewBatch">Add New Batch</a></li>
      <li style="padding-top: 10px;padding-bottom: 10px"><a ng-href="#/chiefPharmacist/viewRequests">View Requests</a></li>
      <li style="padding-top: 10px;padding-bottom: 10px"><a ng-href="#/chiefPharmacist/drugInformation">Drug Information</a></li>
      <li style="padding-top: 10px;padding-bottom: 10px"><a ng-href="#/chiefPharmacist/reports">Reports</a></li>
    </ul>
  </nav>

  <div style="width: 1350px;height: 1000px;background-color: azure">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-family: Calibri;font-size: 25px">Pharmacy Stock</div>
        <div class="panel-heading" style="font-family: Calibri;font-size: 20px">Low Stocks as on <span>{{CurrentDate | date:'dd/MM/yyyy'}}</span></div>
        <div class="panel-body" style="overflow-x:auto;overflow-y:auto">

          <label style="color: red">Less than Danger level</label>&nbsp<label style="color: orange">  Less than Re order level</label>
          <table class="table table-striped" style="width:100%;white-space:nowrap;border: 1px solid #dddddd">
            <thead style="border: 1px solid #dddddd">
            <tr>
              <th style="border: 1px solid #dddddd">Drug Name</th>
              <th style="border: 1px solid #dddddd">Unit Type</th>
              <th style="border: 1px solid #dddddd">Drug Category</th>
              <th style="border: 1px solid #dddddd">Drug Price</th>
              <th style="border: 1px solid #dddddd">Drug Quantity</th>
              <th style="border: 1px solid #dddddd">Send Mail</th>
            </tr>
            </thead>
            <tbody style="border: 1px solid #dddddd">
            <tr ng-repeat="drug in pharmacyStock.drugs">
              <td style="border: 1px solid #dddddd">{{drug.name}}</td>
              <td style="border: 1px solid #dddddd">{{drug.unitType}}</td>
              <td style="border: 1px solid #dddddd">{{drug.category}}</td>
              <td style="border: 1px solid #dddddd">{{drug.price}}</td>
              <td style="border: 1px solid #dddddd">{{drug.quantity}}</td>
              <td style="border: 1px solid #dddddd"><a ng-href="#/chiefPharmacist/pharmacyStock/placeOrder"><button type="button" class="btn btn-primary"  >Place Order</button></a></td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-primary"  >View as PDF</button>
        </div>
        <br>
        <br>
        <br>
        <div class="input-group">
          <textarea class="form-control custom-control" rows="3" style="resize: none" ng-model="pharmacyStock.drug"></textarea>
          <span class="input-group-addon btn btn-primary" ng-click="pharmacyStock.postMessage()">Post</span>

        </div>
      </div>
    </div>

    <!--
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">Messages</div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Drug Name</th>
              <th>Unit Type</th>
              <th>Drug Category</th>
              <th>Drug Price</th>
              <th>Drug Quantity</th>
              <th>Send Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="drug in pharmacyStock.drugs">
              <td>{{drug.name}}</td>
              <td>{{drug.unitType}}</td>
              <td>{{drug.category}}</td>
              <td>{{drug.price}}</td>
              <td>{{drug.quantity}}</td>
            </tr>
            </tbody>
          </table>
          <!--
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="drug in pharmacyStock.drugs">
              {{drug.name}}


            </li>
          </ul>
-->
        </div>
      </div>
    </div>
    -->
  </div>
</div>
